<div class="container">
  <!-- <app-table-test></app-table-test> -->
  <!-- <app-colorpicker-test></app-colorpicker-test> -->
  <!-- <app-mat-menu-try></app-mat-menu-try> -->
  <!-- <app-table-pagination></app-table-pagination> -->
  <!-- <app-file-upload-component></app-file-upload-component> -->
  <!-- <app-programmatic-key-press></app-programmatic-key-press> -->
  <!-- <app-sorting-nk></app-sorting-nk> -->
  <!-- <app-excel-fomat></app-excel-fomat> -->
  <!-- <app-table-grouping></app-table-grouping> -->
  <!-- <app-mat-table-column-freezing></app-mat-table-column-freezing> -->
  <!-- <app-variable-declerations></app-variable-declerations> -->
  <!-- <app-plunkr-table-row-navigation></app-plunkr-table-row-navigation> -->
  <!-- <app-nav-bar-test></app-nav-bar-test> -->
  <!-- <app-angular-material-tree></app-angular-material-tree> -->
  <app-angular-material-tree-stackblitz></app-angular-material-tree-stackblitz>
  <!-- <app-chill-the-lion></app-chill-the-lion> -->
  <!-- <app-date-test></app-date-test> -->
  <!-- <app-header></app-header> -->
</div>
